.design1 {
    background-color: white;
 
 }
 .design1-heading {
    padding: 60px 0 10px 0;
 }
 .design1__line {
  width: 64px;
 height: 1px;
 background-color: #E72424;
 margin: 34px auto;
 
 }
 .design1__descr {
    text-align: center;
    font-family: Open Sans;
 font-size: 14px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
    margin-bottom: 10px;
 }
 .wrap {
   display: flex;
   justify-content: space-between;
  padding: 30px 0;
 
 }
 .design1-card {
    width: 350px;
    margin: auto;
    padding: 20px;
 
    
 }
 .design1-card__img {
    border: 2px solid #e78c24;
    border-radius: 70%;
    width: 70px;
    height: 70px;
    margin: 0 auto 20px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center; 
 }
 .design1-card__img img {
  /* object-fit: cover;
  object-position: center; 
  width: 100%;
  height: 100% */
   
 }
 .design1-card__title {
 color: #333;
 text-align: center;
 font-family: Open Sans;
 font-size: 20px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 margin-bottom: 16px;
 
 }
 .design1-card__descr {
 color: #000;
 text-align: center;
 font-family: Open Sans;
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
 margin-bottom: 20px;
 }